/*
Color Theme
 #000000
 #ffffff
*/
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');
/* ---------------Box Sizing----------------- */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* ---------------Utility Styles----------------- */

/* ---------------Responsive Images----------------- */

.overview {
    position: relative;
    height: 60vh;
    background-image: url('img/dragoncrew.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 50px;
    color: #ffffff;
}

.black-box {
    position: absolute; /* Position it at the bottom left */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #fff;
    padding: 20px;
    width: 70%; /* Box width (optional, adjust as needed) */
    max-width: 900px;
}

/* Style for h1 inside black-box */
.black-box h1 {
    margin: 0;
    font-weight: 400; /* Semi-bold font weight */
    text-transform: uppercase; /* Make text uppercase */
    font-size: 2.5rem; /* Adjust size of the title */
}

/* Style for h2 inside black-box */
.black-box h2 {
    margin: 0;
    font-weight: 400; /* Semi-bold font weight */
    text-transform: uppercase; /* Make text uppercase */
    font-size: 1.5rem; /* Adjust size of the subtitle */
    margin-top: 20px; /* Space between h1 and h2 */
}

.overview-description {
    padding: 40px 20px; /* Add padding around the text */
    background-color: #000; /* White background for the description section */
    color: #ffffff; /* Black text */
}

.overview-description h2 {
    font-size: 2rem; /* Adjust font size for the section title */
    margin-bottom: 20px; /* Space below the heading */
}

.overview-description p {
    font-size: 1rem; /* Adjust font size for the paragraphs */
    line-height: 1.6; /* Improve line spacing for readability */
    margin-bottom: 15px; /* Add space between paragraphs */
}
/* ---------------Content----------------- */
.section {
position: absolute;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

/* ---------------Global Styles----------------- */
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #ffffff;
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

/* ---------------Header----------------- */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    height: 100px;
    padding: 0px 20px;
    z-index: 1000;
}

#main-nav {
    margin-right: 50px;
}

#main-nav ul {
    display: flex;
}
#main-nav ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}

/* ---------------Articles----------------- */
/* ---------------Logo----------------- */
.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}
/* ---------------Nav Border----------------- */
#main-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1)

}

#main-nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}

/* ---------------Hero----------------- */

/* ---------------Aside----------------- */

/* ---------------Footer----------------- */
footer {
    position: relative;
    padding: 55px 0;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
  }
  
  footer a {
    color: #fff;
    transition: color 0.6s;
  }
  
  footer a:hover {
    color: #aaa;
  }
  

/* ---------------Media Queries----------------- */