body{
background-color: yellow;
}
h1 {
    color: red;
    font-size: 24px;
    font-family: Arial, sans-serif;
  }
h2 {
    color: blue;
    font-size: 45px;
    font-family: Arial, sans-serif;
  }
  
    .ibm-plex-mono-thin {
      font-family: "IBM Plex Mono", monospace;
      font-weight: 100;
      font-size: 75px;
      font-style: normal;
    }
  
  
  